@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

body {
  background-color: #ffffff;
  color: #000000;
}

.dark-mode {
  background-color: #121212;
  color: #FFFFFF;
}

.post {
  @apply flex flex-col gap-3 text-lg tracking-wide mb-20;
}

.post > h1 {
  @apply text-4xl text-center tracking-tight;
}

.post > h2 {
  @apply text-3xl tracking-tight;
}

.post > ol {
  @apply list-decimal flex flex-col mx-10 gap-2;
}

.post > ul {
  @apply list-disc flex flex-col mx-10 gap-2;
}

.post > pre {
  @apply bg-neutral-950 text-neutral-50 p-5 overflow-scroll;
}

.post > blockquote {
  @apply pl-5 italic border-l-2 border-neutral-600 border-opacity-40;
}

.post > p > img {
  @apply w-1/2 mx-auto;
}




