@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.gallery {
  /* display: grid; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* overflow: hidden; */
  /* grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr)); */
}

body {
  background-color: #f0ece2;
  color: #4a3500;

}

/* Hide Scrollbar for Internet Explorer, Edge, Firefox */
*{
  -ms-overflow-style: none;
}
/* Hide scrollbar for Chrome, Safari, Opera */
::-webkit-scrollbar {
  display: none;
}


